@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-size: 18px;
	line-height: 21px;
	position: relative;
	margin: 0;
	padding: 0;
}

.main_wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 6px 0 4px -4px #cccccc , -6px 0 4px -4px #cccccc;
}

main {
	background-color: white;
}

.visually_hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

header {
	padding: 0 70px;
}

.wrapper_main_menu {
	display: flex;
	align-items: center;

	height: 65px;

	background-color: #ffffff;
}

.index_link {
	padding: 0;
	margin: 4px 30px 0 0;
	height: 70px;
	width: 139px;
}

.logo_img {
	display: block;
	z-index: 10;

	margin: 4px 30px 0 0;
	cursor: pointer;
}

.logo_img_catalog {
	margin-top: 0;
}

.logo_img:hover {
	filter: brightness(0.9);
}

.wrapper_all_menu {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

.main_menu_list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	height: 66px;
	padding: 0;
	margin: 0 auto;
}

.nav_item_link:hover {
	box-shadow: inset 0 -2px 0 0 rgba(117, 98, 87, 0.5);
	opacity: 0.6;
}

.nav_item_link {
	list-style: none;
	padding: 20px 0;
	margin: auto 17px;
}

.nav_item_select {
	box-shadow: inset 0 -2px 0 0 rgba(117, 98, 87, 1);
	overflow: hidden;
}

.control-menu {
	padding: 0;
	margin: 0;
}

.control_menu_list {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	height: 66px;
	padding: 0;
	margin: 0 0 0 auto;
}

.control_item_link {
	list-style: none;
	padding: 20px 12px;
	margin: 0;
}

.control_menu_item {
	list-style: none;
}

.nav_item_link {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.control_search {
	align-self: flex-start;
	padding-top: 24px;
}

.control_search:hover {
	opacity: 0.6;
}

.control_favorite {
	position: relative;
	align-self: flex-start;
	padding-top: 24px;
	margin-right: 20px;
}

.control_favorite:hover {
	opacity: 0.6;
}

.num_favorite {
	display: inline-block;
	content: "";
	width: 18px;
	height: 18px;
	border: 1px solid rgba(125, 181, 79, 1);
	border-radius: 50%;
	background-color: rgba(125, 181, 79, 1);
	color: #ffffff;
	text-align: center;
	line-height: 13px;
	position: absolute;
	left: 24px;
	top: 14px;
}

.num_favorite_text {
	font-size: 10px;
	font-weight: 400;
	margin: 2.5px 0 4.5px 0;
}

.link_wanted {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #756157;
	width: 160px;
	border-radius: 4px;
	text-transform: uppercase;
}

.link_wanted:hover,
.link_wanted:focus {
	background-color: #615048;
}

.link_wanted:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.link_wanted:not(:hover) {
	background-color: #756157;
}

.link_wanted_text,
.link_hotels_text,
.btn_favorites_text {
	font-family: "PT Sans", "Calibri", sans-serif;
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	margin: 9px 15px 8px 15px;
}

.wrapper_title_Sedona {
	display: flex;
	background: url(../imgs/backgrounds/index_background.jpg) no-repeat lightskyblue;
	width: 1200px;
	height: 485px;
	position: relative;
	justify-content: center;
}

.wrapper_title_Sedona::after {
	content: "";
	display: block;
	background: url(../imgs/divider.svg) no-repeat transparent;
	width: 1200px;
	height: 57px;
	position: absolute;
	bottom: 0px;
}

.title_sedona_img {
	display: block;
	padding-top: 51px;
}

.details_text_wrapper{
	padding: 63px 272px 90px;
}

.details_main_title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto 31px;
}

.details_main_text {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin: 0;
}

.details_item_wrapper {
	width: 1200px;
	padding: 0;
	margin: 0;
}

.wrapper_text_details {
	width: 230px;
	padding: 0;
	margin: 0;
}

.details_item_accent_wrapper_hotel {
	padding: 92px 85px 91px 85px;
	width: 230px;
}

.details_item_accent_wrapper_bridge {
	padding: 92px 85px;
	width: 230px;
}

.details_item_title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.details_item_accent_title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.details_item_accent_hotel {
	display: flex;
}

.details_item_accent_hotel::after {
	content: "";
	display: inline-block;
	height: 384px;
	width: 800px;
	background: #202090 url(../imgs/backgrounds/details_photo_hotel.jpg) no-repeat;
	background-origin: content-box;
}

.details_item_accent_bridge {
	display: flex;
}

.details_item_accent_bridge::before {
	content: "";
	display: inline-block;
	height: 384px;
	width: 800px;
	background: #202090 url(../imgs/backgrounds/details_photo_bridge.jpg) no-repeat;
	background-origin: content-box;
}

.details_item_full {
	color: white;
}

.details_item_text {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin: 0;
}

.details_item_text_num {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin-bottom: 30px;
	;
}

.details_item_accent {
	width: 1200px;
	align-items: center;
	background-color: #82b3d3;
}

.details_item_num {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	margin-bottom: 30px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.details_city_advantages {
	display: flex;
	align-items: center;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.details_advantages_item {
	flex-basis: auto;
	flex-shrink: 1;
	background-color: rgba(131, 179, 211, 0.12);
	margin: 0;
	padding: 182px 85px 79px;
}

.details_city_item {
	flex-basis: auto;
	flex-shrink: 1;
	background-color: rgba(131, 179, 211, 0.12);
	margin: 0;
	padding: 104px 85px 102px;
}

.details_city_wrapper {
	width: 230px;
	position: relative;
}

.details_city_wrapper_home::after {
	content: "";
	width: 75px;
	height: 72px;
	position: absolute;
	background: url(../imgs/icons/ico_list_home.svg) no-repeat;
	top: -102px;
	left: 77px;
}

.details_city_wrapper_food::after {
	content: "";
	width: 75px;
	height: 72px;
	position: absolute;
	background: url(../imgs/icons/ico_list_food.svg) no-repeat;
	top: -102px;
	left: 77px;
}

.details_city_wrapper_surprise::after {
	content: "";
	width: 75px;
	height: 75px;
	position: absolute;
	background: url(../imgs/icons/ico_list_surprise.svg) no-repeat;
	top: -104px;
	left: 78px;
}

.details_city_advantages_wrapper {
	width: 230px;
	height: 179px;
}

.details_city_wrapper_honest {
	background-color: #ffffff;
}

.details_city_advantages_wrapper_honest {
	background-color: rgba(131, 179, 211, 0.2);
}

.hotel_search {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 91px 300px 93px 300px;
}

.hotel_search_title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	margin-bottom: 29px;
}

.hotel_search_text {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-bottom: 55px;
	padding: 0;
}

.btn_search_hotels {
	background-color: #756157;
	width: 574px;
	box-sizing: border-box;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	padding: 12px 15px;
	margin: 0;
	border-style: none;
	cursor: pointer;
}

.btn_search_hotels:hover,
.btn_search_hotels:focus {
	background-color: #615048;
}

.btn_search_hotels:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.btn_search_hotels:not(:hover) {
	background-color: #756157;
}

.btn_search_hotels_text {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	padding: 0;
	margin: 0;
}

.subscription {
	width: 1200px;
	color: #000000;
	margin: 0;
	box-sizing: border-box;
	padding: 95px 200px;
}
.subscription_index {
	background: url(../imgs/backgrounds/back_subscription.jpg) no-repeat rgb(77, 77, 155);
	color: #ffffff;
}

.subscription_wrapper_catalog {
	background: #ffffff;
}

.subscription_title {
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.subscription_text {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.subscription_catalog {
	background-color: #ffffff;
}

.subscription_text_catalog,
.subscription_title_catalog {
	color: #000000;
}

.form_subscription {
	height: 60px;
}

.wrapper_subscription {
	display: flex;
}

.subscription_input {
	font-family: "PT Sans", "Calibri", sans-serif;
	display: inline-block;
	width: 600px;
	height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	border-width: 0;
	border-radius: 10px 0 0 10px;
	background-color: #f2f2f2;
	box-sizing: border-box;
	padding: 0 22px;
	margin: 0;
}

.subscription_input::placeholder {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.6);
}

.subscription_input_catalog {
	box-shadow: none;
}

.btn_subscription {
	color: #ffffff;
	text-transform: uppercase;
	height: 60px;
	width: 200px;
	background-color: #82B3D3;
	margin: 0;
	padding: 12px 15px;
	text-align: center;
	border-width: 0;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

.btn_subscription:hover,
.btn_subscription:focus {
	background-color: #68a2ca;
}

.btn_subscription:active {
	background-color: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.btn_subscription:not(:hover) {
	background-color: #82B3D3;
}

.btn_subscription_text {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
}

.wrapper_footer_content {
	display: flex;
	height: 50px;
	padding: 40px 70px 30px;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
}

.connection_list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 142px;
	height: 40px;
}

.connection_item {
	display: flex;
	padding: 0;
	margin: 0;
	width: 33.33%;
	flex-basis: auto;
	flex-shrink: 1;
}

.connection_item_link {
	width: 142px;
	height: 40px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.img_connection {
	display: block;
	margin: 0;
	padding: 0;
	fill: #83b3d3;
}

.img_connection:hover {
	fill: #68A2CA
}

.img_connection:focus {
	fill: #68A2CA
}

.img_connection:active {
	fill: rgba(104, 162, 202, 0.3);
}

.wrapper_phone {
	margin: 0;
	padding: 0;
	padding-top: 2px;
}

.phone_number {
	text-decoration: none;
	color: #000000;
	font-style: normal;
}

.phone_number:hover {
	color: #756157;
}

.phone_number:focus {
	color: #756157;
}

.phone_number:active {
	color: rgba(117, 97, 87, 0.3);
}

.number_text {
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
}

.html_academy_link {
	margin: 0;
	padding: 0;
	padding-top: 6px;
}

.img_connection_logo {
	display: block;
	margin: 0;
	padding: 0;
	fill: black;
}

.img_connection_logo:hover {
	fill: #756157;
}

.img_connection_logo:focus {
	fill: #756157;
}

.img_connection_logo:active {
	fill: rgba(117, 97, 87, 0.3);
}

/* Modal  */

.modal_form {
	display: none;
	width: 715px;
	height: 561px;
	position: fixed;
	top: calc(50% - 280.5px);
	left: calc(50% - 357.5px);
	background-color: #ffffff;
	opacity: 1;
	border-radius: 30px;
	box-sizing: border-box;
	padding: 52px 70px 70px;
	box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal_title_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.modal_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.btn_close_modal {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-style: none;
	cursor: pointer;
	border-radius: 50%;
	border-width: 1px;
	padding: 0;
	width: 59px;
	height: 59px;
	margin: 0;
}

.img_close_modal {
	display: block;
	margin: 0;
}

.btn_close_modal:focus {
	outline-color: #83b3d3;
	outline-width: 3px;
}

.btn_close_modal:hover {
	filter: brightness(0.9);
}

.btn_close_modal:active {
	opacity: 0.6;
}

.modal_entry_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.modal_entry_text {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.modal_entry_input {
	width: 420px;	

	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 19px;

	background-color: #f2f2f2;

	border-style: none;
	border-radius: 4px;
	position: relative;
}

.modal_entry_input:focus,
.modal_entry_input:focus
 {
	outline-color: #83b3d3;
	background-color: #e6e6e6;
}

.modal_entry_input:active {
	outline-color: #000000;
	background-color: #ffffff;
}

.modal_entry_input::-webkit-calendar-picker-indicator {
	opacity: 0.01;
	position: absolute;
	right: 15px;
	top: 17px;
	cursor: pointer;
}

.modal_entry_input::before {
  content: "  ";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
	background: url(../imgs/icons/ico_date.svg) no-repeat;
  right: 15px;
	top: 17px;
	opacity: 1;
	cursor: pointer;
}

.modal_entry_comment {
	padding-left: 155px;
	margin: 0;
	margin-bottom: 10px;

	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #ff5757;
}

.modal_out_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7px;
}

.modal_out_text {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.modal_out_input {
	width: 420px;	

	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 19px;

	border-style: none;
	border-radius: 4px;
	position: relative;

	background-color: #f2f2f2;
}

.modal_out_input:focus {
	outline-color: #83b3d3;
}

.modal_out_input::-webkit-calendar-picker-indicator {
	opacity: 0.01;
	position: absolute;
	right: 15px;
	top: 17px;
	cursor: pointer;
}

.modal_out_input::before {
  content: "  ";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
	background: url(../imgs/icons/ico_date.svg) no-repeat;
  right: 15px;
	top: 17px;
	opacity: 1;
	cursor: pointer;
}

.modal_out_comment {
	padding-left: 155px;
	margin: 0;
	margin-bottom: 10px;

	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
}

.modal_numbers_of_persons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 41px;
}

.adults_wrapper {
	display: flex;
	width: 288px;
	justify-content: space-between;
	align-items: center;
}

.adults_input_text {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.childrens_wrapper {
	display: flex;
	width: 230px;
	justify-content: space-between;
	align-items: center;
}

.childrens_input_text {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	position: relative;
}

.childrens_info{
	background-color: #82b3d3;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: 15px;
}

.childrens_info::after {
	display: none;
	box-sizing: border-box;
	padding: 15px 18px 18px 22px;
	content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	width: 256px;
	height: 143px;
	border-radius: 10px;
	background-color: #333333;
	position: absolute;
	top: 40px;
	left: -114px;
}

.childrens_info::before {
	display: none;
	content: "";
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-bottom: 20px solid #333333;
	position: absolute;
	transform: scale(0.44);
	top: 12px;
	left: -7px;
}

.childrens_info:hover {
	background-color: #68a2ca;
}

.childrens_info:hover::after {
	display: block;
}

.childrens_info:hover::before {
	display: block;
}

.ico_info {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 12px;
	top: 8px;
}

.num_wrapper{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 133px;
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.nums_input {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	border-style: none;
	border-width: 0;
	width: 25px;
	height: 50px;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	background-color: #f2f2f2;
}

.img_plus{
	display: block;
	margin: 0;
	padding: 0;
}

.img_minus{
	display: block;
	margin: 0;
	padding: 0;
}

.btn_plus {
	border-style: none;
	color: transparent;
	padding: 3px 3px;
	margin: 13px;
	cursor: pointer;
}

.btn_plus:focus {
	outline-color: #83B3D3;
}

.btn_minus {
	border-style: none;
	color: transparent;
	padding: 9px 3px;
	margin: 13px;
	cursor: pointer;
}

.btn_minus:focus {
	outline-color: #83B3D3;
}

.btn_search {
	width: 575px;
	padding: 12px 26px;
	margin: 0;
	background-color: #82B3D3;
	color: #ffffff;
	border-style: none;
	border-radius: 10px;
	cursor: pointer;
}

.btn_search:hover,
.btn_search:focus {
	background-color: #68a2ca;
}

.btn_search:focus {
	outline-color: #756257;
}

.btn_search:active {
	background-color: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.btn_search:not(:hover) {
	background-color: #82B3D3;
	border-width: 0;
	color: #ffffff;
}

.btn_search_text {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin: auto;
}

/* Catalog  */

.menu_hotels {
	width: 1060px;
	background: rgb(79, 71, 95) url(../imgs/backgrounds/back_search_hotels.jpg) no-repeat;
	padding: 35px 70px 70px;
	color: #ffffff;
}

.hotels_title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.breadcrumbs_item {
	margin: 0;
	padding: 0;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	padding-left: 3px;
	height: 21px;
	justify-content: left;
	align-items: center;
}

.breadcrumbs_home {
	cursor: pointer;
}

.breadcrumbs_home:hover {
	opacity: 0.3;
}

.img_breadcrumbs {
	display: block;
	margin: 0;
	padding: 0;
}

.breadcrumbs_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.breadcrumbs_text::before {
	content: "";
	display: inline-block;
	background: url(../imgs/arrow_right.svg) no-repeat;
	height: 9px;
	width: 5.11px;
	margin: 0 10px 0 9px;
}

.filter_hotels_form {
	display: flex;
	width: 1059.53px;
}

.hotels_details {
	display: flex;
	flex-direction: column;
	border-style: none;
	padding: 0;
	margin: 0;
	margin-right: 71px;
}

.check_hotels {
	position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio_hotels {
	position: absolute;
  z-index: -1;
  opacity: 0;
}

.hotels_details_types {
	margin-right: 0;
}

.fieldhotel_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.fieldhotel_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	user-select: none;
}

.fieldhotel_text:last-child {
	margin-bottom: 0;
}

.fieldhotel_check {
	position: relative;
	margin-left: 40px;
}

.check_hotels+label::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../imgs/check_empty.svg) no-repeat;
	position: absolute;
	top: 0px;
	left: -39px;
	cursor: pointer;
	transition: 0.3s;
}

.check_hotels:checked+label::before {
	background: url(../imgs/check_checked.svg) no-repeat;
}

.check_hotels:hover+label::before {
	opacity: 0.6;
}

.check_hotels:active+label::before {
	opacity: 0.3;
}

.fieldhotel_radio {
	position: relative;
	margin-left: 40px;
}

.radio_hotels+label::before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: -39px;
	cursor: pointer;
	transition: 0.3s;
}

.radio_hotels:active+label::before {
	background: url(../imgs/radio_checked.svg) no-repeat;
}

.radio_hotels:checked+label::before {
	background: url(../imgs/radio_checked.svg) no-repeat;
}

.radio_hotels:not(:checked)+label::before {
	background: url(../imgs/radio_empty.svg) no-repeat;
}

.hotel_price {
	padding: 0;
	margin: 0;
	width: 287.81px;
	margin-left: auto;
	margin-right: 70px;
	border-style: none;
}

.fieldprice_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	margin-bottom: 34px;
}

.price_wrapper {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 28px;
	position: relative;
}

.min_price {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	height: 44px;
	width: 108px;
	padding: 0;
	padding-left: 15px;
	padding-right: 19px;
	border: 2px solid #ffffff;
	border-right-width: 1px;
	background-color: transparent;
	border-radius: 4px 0 0 4px;
}

.min_price:hover {
	opacity: 0.6;
}

.min_price:focus {
	box-shadow: 0 0 0 3 #81b3d2;
	outline-color: #81b3d2;
	border-radius: 0;
}

.min_price:active {
	background-color: #756257;
}

.label_min {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 12px;
	left: 113px;
	user-select: none;
}

.min_price::placeholder {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;

	position: absolute;
	top: 12px;
	left: 17px;
}

.max_price {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	height: 44px;
	width: 106.5px;
	padding: 0;
	padding-left: 15px;
	padding-right: 19px;
	border: 2px solid #ffffff;
	border-left-width: 1px;
	background-color: transparent;
	border-radius: 0 4px 4px 0;
	margin-left: -1px;
}

.max_price:hover {
	opacity: 0.6;
}

.max_price:focus {
	box-shadow: 0 0 0 3 #81b3d2;
	outline-color: #81b3d2;
	border-radius: 0;
}

.max_price:active {
	background-color: #756257;
}

.label_max {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 12px;
	left: 251px;
	user-select: none;
}

.max_price::placeholder {
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;

	position: absolute;
	top: 12px;
	left: 15px;
}

.slider_wrapper {
	display: flex;
}

.slider_fill {
	display: inline-block;
	width: 230px;
	height: 4px;
	background-color: #ffffff;
	position: relative;
}

.slider_fill::after {
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	top: -8px;
	z-index: 100;
	cursor: pointer;
}

.slider_fill::before {
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	top: -8px;
	left: 216.5px;
	z-index: 100;
	cursor: pointer;
}

.slider_not_fill {
	display: inline-block;
	width: 58px;
	height: 4px;
	background-color: #ffffff;
	opacity: 0.3;
}

.catalog_wrapper_btns {
	width: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.btn_apply {
	font-family: "PT Sans", "Calibri", sans-serif;
	width: 160px;
	height: 48px;
	padding: 0;
	margin: 0;
	margin-bottom: 42px;
	background-color: #82B3D3;
	color: #ffffff;
	border-style: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn_apply:hover,
.btn_apply:focus {
	background-color: #68a2ca;
}

.btn_apply:active {
	background-color: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.btn_apply:not(:hover) {
	background-color: #82B3D3;
}

.btn_apply_text {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.btn_reset {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-style: none;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	top: 122px;
}

.btn_reset:focus,
.btn_reset:hover {
	outline: none;
	border: 3px solid #83B3D3;
	border-radius: 4px;
	color:rgba(0, 0, 0, 0.6);
}

.btn_reset:active {
	border-width: 0;
	opacity: 0.3;
}

.btn_reset:not(:hover) {
	border-style: none;
}

.btn_reset_text {
	font-family: "PT Sans", "Calibri", sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.wrapper_hotels_list {
	margin: 0;
	padding: 55px 71px 25px 72px;
}

.hotels_nav_wrapper {
	display: flex;
	align-items: center;
	padding: 0;
	width: 1057px;
	margin-bottom: 56px;
	justify-content: space-between;
}

.hotels_num_text {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
}

.wrapper_menu_add {
	display: flex;
}

.select_hotels {
	box-sizing: border-box;
	font-family: "PT Sans", "Calibri", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	height: 49px;
	width: 290px;
	padding-left: 19px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	margin-right: 78px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: url("../imgs/select.svg") no-repeat right 17px center;
	outline: 0;
	cursor: pointer;
}

.select_hotels:focus,
.select_hotels:hover {
	border-color: #68a2ca;
}

.select_hotels:active {
	border-color: #3f5e72;
}

.select_hotels_text {
	margin: 0;
}

.hotels_view_type {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
  height: 49px;
}

.img_view {
	display: block;
	padding-top: 4px;
	margin: auto;
}

.view_type_item {
	padding: 0;
  	margin: 0;
	margin-right: 8px;
}

.view_type_item:last-child {
	margin-right: 0;
}

.view_type_link {
  display: block;
	width: 48px;
	height: 48px;
  padding: 10px;
  margin: 0; 
  cursor: pointer;
	box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view_type_active {
  border-color: #000000;
}

.view_type_link:active {
  border-color: #000000;
}

.view_type_link:hover {
  border-color: #000000;
}

.view_type_link:focus {
	outline: none;
  border-color: #68a2ca;
}

.hotels_list {
	display: flex;
	width: 1056px;
	padding: 0;
	padding-bottom: 66px;
	margin: 0;
	list-style: none;
	flex-wrap: wrap;
	border-bottom: 1px solid #e6e6e6;
}

.hotels_list_item {
	margin-right: 18px;
	padding: 20px;
}

.hotels_list_item:nth-child(3n) {
	margin-right: 0;
}

.hotels_list_item_img {
	display: block;
	padding: 0;
	margin: 0 0 16px;
}

.hotels_list_item_title {
	text-decoration: none;
	color: #000000;
}

.hotels_list_names {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	padding: 0;
	margin: 0 0 16px;
}

.hotels_type_and_price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.hotels_type {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	width: 140px;
	padding: 0;
	margin: 0;
}

.hotels_price {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	width: 140px;
	padding: 0;
	margin: 0;
}

.hotels_controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.btn_hotels_list_details {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #756157;
	width: 140px;
	height: 37px;
	border-radius: 4px;
	text-transform: uppercase;
}

.btn_hotels_list_details:hover,
.btn_hotels_list_details:focus {
	background-color: #615048;
}

.btn_hotels_list_details:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.btn_hotels_list_details:not(:hover) {
	background-color: #756157;
}

.btn_favorites {
	content:"В избранное";
	font-family: "PT Sans", "Calibri", sans-serif;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #82B3D3;
	width: 140px;
	height: 37px;
	border-radius: 4px;
	text-transform: uppercase;
	border-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.btn_favorites:hover,
.btn_favorites:focus {
	background-color: #68a2ca;
}

.btn_favorites:active {
	background-color: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.btn_favorites:not(:hover) {
	background-color: #82B3D3;
}

.btn_favorites_active {    
	font-family: "PT Sans", "Calibri", sans-serif;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #7DB54F;
	width: 140px;
	height: 37px;
	border-radius: 4px;
	text-transform: uppercase;
	border-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.btn_favorites_active:hover,
.btn_favorites_active:focus {
	background-color: #6c9e42;
}

.btn_favorites_active:active {
	background-color: #7DB54F;
	color: rgba(255, 255, 255, 0.3);
}

.btn_favorites_active:not(:hover) {
	background-color: #7DB54F;
}

.wrapper_rating {
	display: flex;
	justify-content: space-between;
}

.rating_stars {
	display: flex;
	list-style: none;
	width: 140px;
	height: 37px;
	padding: 0;
	margin: 0;
	align-items: center;
}

.star {
	display: block;
	padding: 0;
	margin: 0;
	margin-right: 6px;
}

.rating_stars_amara .rating_stars_item:nth-child(-n+1) {
	display: none;
}

.rating_stars_villas .rating_stars_item:nth-child(-n+1) {
	display: none;
}

.rating_stars_desert .rating_stars_item:nth-child(-n+2) {
	display: none;
}

.rating_stars_greentree .rating_stars_item:nth-child(-n+3) {
	display: none;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	height: 37px;
	width: 140px;
}

.rating_text {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.pagination_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-top: 29px;
}

.pagination_list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagination_list_text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	display: flex;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	color: #ffffff;
	text-decoration: none;
	border-width: 0;
	border-style: none;
	border-radius: 4px;
	background-color: #82B3D3;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
}

.pagination_list_text_not_active:hover,
.pagination_list_text:focus {
	background-color: #68a2ca;
}

.pagination_list_text_not_active:active {
	background-color: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.pagination_list_text_not_active:not(:hover) {
	background-color: #82B3D3;
}

.pagination_list_text_active {
	color: #000000;
	background-color: #f2f2f2;
}

.pagination_list_text_active:hover,
.pagination_list_text_active:focus {
	background-color: #f2f2f2;
}

.pagination_list_text_active:active {
	background-color: #f2f2f2;
}

.hotels_page_wrapper {
	height: 49px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.hotels_of_page {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	align-self: flex-start;
	margin: 0;
	margin-right: 51px;
	margin-top: 14px;
}

.hotels_of_page_select {
	width: 160px;
	height: 49px;
	font-family: inherit;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	padding-left: 18px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: url("../imgs/select.svg") no-repeat right 17px center;
	outline: 0;
	cursor: pointer;
}

.hotels_of_page_select:focus,
.hotels_of_page_select:hover {
	border-color: #68a2ca;
}

.hotels_of_page_select:active {
	border-color: #3f5e72;
}