@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body{
    font-family: "PT Sans", "Calibri", sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 1200px;
    padding: 0;
    margin: auto;
    box-shadow: 0 0 5px 5px #ccc;
    background-color: #e5e5e5;
}

main{
    background-color: white;
}

.visually_hidden{
    display: none;
}

.main-menu{
    padding: 0;
    margin: 0;
}

.wrapper_main_menu{
    display: flex;
    height: 66px;
    align-items: center;
    background-color: white;
}

.logo_img{
    display:inline-block;
    margin: 4px 30px 0 70px;
    z-index: 10;
}

.wrapper_all_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main_menu_list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0;
    margin: 0 auto;
}

.nav_item_link{
    list-style: none;
    padding: 20px 0;
    margin: auto 17px;
}

.nav_item_select{
    box-shadow: inset 0 -2px 0 0 rgba(117, 98, 87, 1);
    overflow: hidden;   
}

.control-menu{
    padding: 0;
    margin: 0;
}

.control_menu_list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 66px;
    padding: 0;
    margin: 0 0 0 auto;
}

.control_item_link{
    list-style: none;
    padding: 20px 12px;
    margin: auto 17px;
    margin: 0;
}

.control_menu_item{
    list-style: none;   
}

.nav_item_link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.control_favorite{
    position: relative;
}

.num_favorite{
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid rgba(125, 181, 79, 1);
    border-radius: 50%;
    background-color: rgba(125, 181, 79, 1);;
    
    color: white;
    text-align: center;
    line-height: 13px;
    position: absolute;
    left: 24px;
    top: -10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.num_favorite_text{
    font-size: 10px;
    font-weight: 400;
    margin: 2.5px 0 4.5px 0;
}

.link_wanted{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-decoration: none;
    display:inline-block;
    background-color: #756157;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 14px 70px 14px 20px;
}

.link_wanted_text{
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    margin: 9px 15px 8px 15px;
}

.wrapper_title_Sedona{
    display: block;
    background: url(../imgs/backgrounds/index_background.jpg) no-repeat lightskyblue;  
    width: 1200px;
    height: 485px;
    position: relative;
}

.wrapper_title_Sedona::after{
    content: "";
    display: block;
    background: url(../imgs/divider.svg) no-repeat transparent;  
    width: 1200px;
    height: 57px;
    position: absolute;
    bottom: 0px;
}

.title_sedona_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
}

.details_main_title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 63px 290px 31px;
}

.details_main_text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 90px;
}

.details_item_wrapper{
    width: 1200px;
    padding: 0;
    margin: 0;
}

.wrapper_text_details{
    width: 230px;
    height: 200px;
    padding: 0;
    margin: 0;
}

.details_item_accent_wrapper_hotel{
    padding: 92px 85px;
}

.details_item_accent_wrapper_bridge{
    padding: 92px 85px;
}

.details_item_title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.details_item_accent_title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.details_item_accent_hotel{
    display: flex;    
}

.details_item_accent_hotel::after{
    content: "";
    display: inline-block;
    height: 384px;
    width: 800px;
    background: blue url(../imgs/backgrounds/details_photo_hotel.jpg) no-repeat;
    background-origin: content-box;
}

.details_item_accent_bridge{
    display: flex;
}

.details_item_accent_bridge::before{
    content: "";
    display: inline-block;
    height: 384px;
    width: 800px;
    background: blue url(../imgs/backgrounds/details_photo_bridge.jpg) no-repeat;
    background-origin: content-box;
}

.details_item_full{
    color: white;
}

.details_item_text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 0;
}

.details_item_text_num{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;;
}

.details_item_accent{
    width: 1200px;
    align-items: center;
    background-color: #82b3d3;
}

.details_item_num{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.details_city_advantages{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.details_city_list{
    display: inline-block;
    flex-basis: auto;
    flex-shrink: 1;
    background-color: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 182px 85px 81px;
}

.details_city_item{
    display: inline-block;
    flex-basis: auto;
    flex-shrink: 1;
    background-color: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 103px 85px 102px;
}

.details_city_wrapper{
    width: 230px;
    height: 121px;
    position: relative;
}

.details_city_wrapper_home::after{
    content: "";
    width: 75px;
    height: 72px;
    position: absolute;
    background: url(../imgs/icons/ico_list_home.svg) no-repeat;
    top: -105px;
    left: 76px;
}

.details_city_wrapper_food::after{
    content: "";
    width: 75px;
    height: 72px;
    position: absolute;
    background: url(../imgs/icons/ico_list_food.svg) no-repeat;
    top: -105px;
    left: 76px;
}

.details_city_wrapper_surprise::after{
    content: "";
    width: 75px;
    height: 75px;
    position: absolute;
    background: url(../imgs/icons/ico_list_surprise.svg) no-repeat;
    top: -105px;
    left: 76px;
}

.details_city_advantages_wrapper{
    width: 230px;
    height: 179px;    
}

.details_city_wrapper_honest{
    background-color: white;
}

.details_city_advantages_wrapper_honest{
    background-color: rgba(131, 179, 211, 0.2);
}

.hotel_search_title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 91px 451px 29px 452px;
}

.hotel_search_text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 0;
    margin: 0px 304px 56px;
}

.btn_search_hotels{   
    display:inline-block;
    background-color: #756157;
    width: 574px;
    height: 60px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 313px 93px;   
}

.btn_search_hotels_text{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 12px 15px;
}

.subscription_index{
    background: url(../imgs/backgrounds/back_subscription.jpg) no-repeat rgb(77, 77, 155);  
    width: 1200px;
    height: 411px;
    margin: 0;
    padding: 0;
}

.subscription_wrapper{
    width: 800px;
    height: 223px;
    margin: 0;
    padding: 94px 200px;
}

.subscription_title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 29px;
}

.subscription_text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 46px;
}

.form_subscription{
    height: 60px;
}

.wrapper_subscription{
    display: flex;
}

.subscription_input{
    display:inline-block;
    width: 600px;
    height: 60px;
    border-width: 0;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_subscription{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    height: 60px;
    width:  200px;
    background-color: #82B3D3;
    margin: 0;
    padding: 12px 15px;
    text-align: center;
    border-width: 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.btn_subscription_text{
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;    
}

.wrapper_footer_content{
    width: 1200px;
    height: 120px;
    margin: 0;
    padding: 0;

}

.wrapper_footer_nav{
    display: flex;
    width: 1060px;
    height: 50px;
    padding: 40px 70px 30px;
    justify-content: space-between;
}

.connection_list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px auto 5px 0;
    width: 142px;
    height: 40px;
}

.connection_item{
    display: flex;
    padding: 0;
    margin:0;
    width: 33.33%;
    flex-basis: auto;
    flex-shrink: 1;
}

.connection_item_link{
    width: 142px;
    height: 40px;
    margin: 0;
    padding:0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.img_connection{
    display: block;  
}

.wrapper_phone{
    margin: auto;
    padding: 0;
}

.html_academy_link{
    margin: auto 0 auto auto;
    padding: 0;
}

.phone_number{
    text-decoration: none;
    color: black;
    font-style: normal;
}

.number_text{
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;   
}

/* Modal  */

.modal_form{
    display: none;
}


/* Catalog  */

.breadcrumbs{
    display: flex;
    list-style: none;
}

.rating_stars{
    display: flex;
    list-style: none;
}

.pagination_list{
    display: flex;
    list-style: none;
}




